*{
box-sizing: border-box;
margin: 0;
padding:0;
background-color: rgb(204, 201, 199);
}
h1{
    color: rgb(10, 1, 15);
    background-image: linear-gradient(to top, rgba(204, 201, 199, 0.986), rgba(117, 78, 27, 0.493));
    padding-left: 500px;
}

header .container{
    display: flex;
    margin: 10px;
}

header li{
    display: inline;
    color: darkslateblue;
}

.container {
    margin: 300px auto;
    height: 1320px;
     
}

.Articles {
    display: inline-flex;
    flex-wrap: wrap;
    grid-auto-rows: max-content;
    color: rgb(71, 36, 34);
}

.Articles article img{
    height: 200px;
    box-shadow: 2px 2px 2px rgba(117, 78, 27, 0.493);
}

.Articles article img{
    width: 75%;
}

h2{
    margin-right: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(117, 78, 27, 0.493);
    text-decoration: underline;
}

h3{
    width: 400px;
    color:black
}

p{
    width: 400px;
}

.Creation_date{
    font-size: xx-small;
    color: darkslategrey;
}

